# Logs
logs
*.log
npm-debug.log*

# Node
node_modules
npm-debug.log
yarn-error.log
.npm

# Compiled output
dist
tmp

# Visual Studio Code
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System files
.DS_Store
Thumbs.db

# Testing
coverage
.env.test
.out-tsc
*.lcov

# Miscellaneous
.angular
.sass-cache/
connect.lock
libpeerconnection.log
testem.log
typings
.env
.eslintcache
*.tsbuildinfo
